@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ROKABold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/ROKABold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    font-style: none;
    text-decoration: none;
    color: black;
}
li::marker {
    font-size: 4px;
    
}

#first_arr {
    width: 100vw;
    height: 100vh;
}

#main_header {
    width: 100vw;
    height: 70px;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;

}

#main_header_logo {
    /* border: 1px solid black; */
    margin-left: 3vw;
    width: 15vw;
    height: 70px;

    font-size: 35px;
    font-family: 'ROKABold';
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_header_logo_contents{
    margin-right: 7px;
    width: 15vw;
    height: 70px;
    border: 1px solid black ;
    color: black;
    display: flex;
    flex-direction: row-reverse;
}

#main_header_logo_contents_bars{
    width: 15vw;
    height: 70px;
    font-size: 30px;
    
}

#main_header_logo_contents_moon{
    width: 15vw;
    height: 70px;
    font-size: 30px;
    /* border: 1px solid black ; */
}

#main_container {
    /* border: 1px solid black; */
    width: 100vw;
    height: 90vh;
    display: flex;
    margin-top: 70px;
}

#table_of_contents {
    /* border: 1px solid black; */
    width: 13vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_middle_front_cover {
    border: 1px solid black;
    width: 87vw;
    height: 100vh;
}

#table_of_contents_content {
    /* border: 1px solid black; */
    width: 10vw;
    height: 100px;
    font-size: 14px;
    font-family: 'Cafe24SsurroundAir';
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 320px;
    left: 22px;
    right: 0;
}

.contents {
    margin: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transform: 0.3s;
}

.contents:hover {
    -webkit-transition: scale(1.2,1.2);
    -moz-transition: scale(1.2,1.2);
    -o-transition: scale(1.2,1.2);
    -ms-transition: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);

}

#main_middle_front_cover_logo {
    /* border: 1px solid black; */
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.main_cover_logo {
    /* border: 1px solid black; */
    width: 45vw;
    height: 20vh;
    transform: translateY(-80%);
}

.main_cover_logo_fullname {
    font-size: 30px;
    
    color: #F2EA79;
}

.main_cover_logo_title {
    /* border: 1px solid black; */
    font-size: 85px;
    font-family: 'EliceDigitalBaeum_Regular';
    
}
.main_cover_logo_title:nth-child(2) {
    font-size: 80px;
}
.main_cover_logo_title:nth-child(4) {
    display: flex;
    justify-content: center;
    transform: translateX(-10%);
}



#second_arr {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#third_arr {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}
#fourth_arr {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}
#fifth_arr {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#second_page_main_container {
    border: 1px solid black;
    width: 87vw;
    height: 100vh;
    margin-left: 13vw;
} 
#second_page_title_cover {
    /* border: 1px solid black; */
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.second_page_main_title {
    /* border: 1px solid black; */
    width: 45vw;
    height: 20vh;
    margin-left: 60px;
    transform: translateY(-60%);
}

.second_page_sub_title {
    font-size: 40px;
    color: #F2EA79;
    
}

.second_page_title {
    font-size: 60px;
    font-weight: '';
    font-family: 'EliceDigitalBaeum_Regular';
}

.second_page_title:nth-child(3) {
    transform: translateX(19%);
}

.second_page_title:nth-child(4) {
    transform: translateX(50%);
}