@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROKABold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/ROKABold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p::selection,
div::selection,
a::selection {
    background: transparent;
}

p {
    cursor: default;
}

* {
    margin: 0;
    padding: 0;
}



a {
    font-style: none;
    text-decoration: none;
    color: black;
}

li::marker {
    font-size: 4px;

}

#scroll_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: green; */
    /* border: 10px solid yellow; */
}

.scroll_box_child {
    width: 100vw;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

#first_arr {
    background-color: white;
}


#main_header {
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 99;

}

#brand_name {
    cursor: pointer;
    display: fixed;
}

#main_header_logo {
    /* border: 1px solid black; */
    margin-left: 30px;
    width: 150px;
    height: 70px;
    font-size: 35px;
    font-family: 'ROKABold';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0d0d0d;
}

#main_header_logo_contents {
    width: 10vw;
    height: 70px;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    /* border: 1px solid black; */
}

#main_header_logo_contents_bars {
    width: 10rem;
    height: 70px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_header_logo_contents_moon {
    /* border: 1px solid black; */
    width: 2rem;
    height: 70px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#main_container {
    /* border: 1px solid black; */
    width: 100vw;
    height: 90vh;
    display: flex;
    margin-top: 70px;
    position: relative;

}


#table_of_contents {
    /* border: 1px solid black; */
    width: 13vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#main_middle_front_cover {
    /* border: 1px solid black; */
    width: 87vw;
    height: 100vh;

}

#table_of_contents_content {
    /* border: 1px solid black; */
    width: 10vw;
    height: 100px;
    font-size: 14px;
    font-family: 'Cafe24SsurroundAir';
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 320px;
    left: 22px;
    right: 0;
}

.contents {
    margin: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transform: 0.3s;
    z-index: 99;
}

.contents:hover {
    -webkit-transition: scale(1.2, 1.2);
    -moz-transition: scale(1.2, 1.2);
    -o-transition: scale(1.2, 1.2);
    -ms-transition: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);

}

.mix_blend_mode {
    mix-blend-mode: difference;
}

#main_middle_front_cover_logo {
    /* border: 1px solid black; */
    width: 87vw;
    height: 90vh;
    display: flex;

    justify-content: start;
    align-items: center;
    margin-left: 30px;
}

.main_cover_logo {
    /* border: 1px solid black; */
    width: 35vw;
    height: 20vh;
    transform: translateY(-80%);
}

.main_background {
    /* border: 1px solid black; */
    width: 40vw;
    height: 90vh;
    margin-right: 10vw;
}

.img_airplane {
    /* border: 1px solid black; */
    display: block;
    width: 100%;
    height: auto;
    transform: translateY(50%);
}


.main_cover_logo_fullname {
    font-size: 30px;
    color: #F2EA79;
    font-weight: 'EliceDigitalBaeum_Regular';
}

.main_cover_logo_title {
    /* border: 1px solid black; */
    font-size: 70px;
    font-family: 'EliceDigitalBaeum_Regular';

}

.main_cover_logo_title:nth-child(2) {
    font-size: 80px;
}

.main_cover_logo_title:nth-child(4) {
    display: flex;
    justify-content: center;
    transform: translateX(-10%);
}


#second_arr {
    /* border: 1px solid black; */
    background-color: #737373;
}

#third_arr {
    /* border: 1px solid black; */
    transition: background-color 0.8s;
}

#fourth_arr {
    /* border: 1px solid yellow; */
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#fifth_arr {
    /* border: 1px solid black;     */
}

#second_page_main_container {
    /* border: 1px solid black; */
    width: 40vw;
    height: 100vh;
    margin-left: 60vw;
}

#second_page_title_cover {
    /* border: 1px solid black; */
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.second_page_main_title {
    /* border: 1px solid black; */
    width: 40vw;
    height: 30vh;
    transform: translateY(-60%);
    /* position: relative; */
    margin-left: -20%;
    margin-top: 90px;
}

.second_page_sub_title {
    font-size: 35px;
    color: #F2EA79;
    font-family: 'EliceDigitalBaeum_Regular';

}

.second_page_title {
    font-size: 60px;
    font-family: 'EliceDigitalBaeum_Regular';
    color: white;
}

/* #second_page_title_more{
    font-size: 27px;
    border: 0.5px solid black;
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 420px;
    font-family: 'EliceDigitalBaeum_Regular';
}

#seconfd_page_title_more:hover {
    color: white;
    background-color: black;
} */

#second_page_title_more {
    font-size: 27px;
    border: 0.5px solid white;
    width: 150px;
    height: 70px;
    margin-right: 36vw;
    /* margin-top: 5px; */
    font-family: 'EliceDigitalBaeum_Regular';
    position: relative;
    transition: 0.4s;
    overflow: hidden;
    background-color: #737373;
    text-transform: uppercase;
    color: white;
}

/* #second_page_title_more::before {
    content: "";
    position:absolute;
    top: 0;
    right: 100%;
    transition: all 0.5s;
    z-index: -2;
    background-color: black;
    height: 100%;
    width: 100%;
} */

#second_page_title_more:focus {
    outline: none;
}

.wrap {
    position: relative;
    padding: 2%;
}

.graphe_container {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;

}
.chart {
    position: relative;
    /* width: 100px;
    height: 70px; */
    border-radius: 50%;
    transition: 0.3s;
    margin-top: 300px;
}

#graphe {
    
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        transform: translate(-50%, -50%); 
      
}

.doughnut1{
    width: 100px;
    height: 100px;
}

.doughnut2{
    width: 100px;
    height: 100px;
}

.doughnut3 {
    width: 100px;
    height: 100px;
}

/* button{
	width: 80px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
  } */


#second_page_title_more:hover:before {
    transform: translateX(100%);
}

#second_page_title_more:hover {
    color: white;
    background-color: black;
}

#third_page_main_container {
    /* border: 1px solid black; */
    width: 87vw;
    height: 100vh;
    margin-left: 13vw;
}

#third_page_title_cover {
    /* border: 1px solid black; */
    width: 90vw;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img_airplane_2 {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 18vh;
}

.third_page_main_title {
    /* border: 1px solid black; */
    width: 40vw;
    height: 20vh;
    transform: translateY(-80%);
    /* position: relative; */
    margin-left: 0;
}

.third_page_sub_title {
    font-size: 40px;
    color: #F2EA79;

}

.third_page_title {
    font-size: 75px;
    font-family: 'EliceDigitalBaeum_Regular';
}

.third_page_title:nth-child(3) {
    font-size: 27px;

}

.third_page_title:nth-child(4) {
    font-size: 27px;
    margin-top: 10px;
}


.boxxxx {
    width: 100vw;
    height: 100vh;
    font-size: 30px;
    color: green;

}

#boxfour {
    /* background-color: black; */
}

.fourth_arr_member_cover {
    /* border: 1px solid white; */
    width: 500vw;
    height: 38vh;
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
}

.fourth_arr_member {
    border: 1px solid white;
    background-color: black;
    width: 18vw;
    height: 38vh;
    border-radius: 20px;
}

figure {
    transition: opacity 0.2s;
    position: relative;
    margin: 0;
    width: 18vw;
    height: 38vh;
    border-radius: 20px;
}

figure img {
    width: 100%
}

figure figcaption {
    color: #fff;
    bottom: 70px;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all .3s ease;
}

figure .gallery-img {
    opacity: 1;
    transition: all 0.3s ease 0s;
    overflow: hidden
}

figure:hover .gallery-img {
    background-color: #000
}

figure:hover img {
    transform: scale(1.1, 1.1);
    transition: all .3s ease;
    opacity: 0.15;

}

figure:hover figcaption {
    opacity: 1;
    transition: all .3s ease;
}

.gallery-img {
    width: 260px;
    height: 345px;
}

#male_img {
    width: 260px;
    height: 345px;
}

/* .textColorWhite {
    color: white
} */

.fifth_container {
    /* border: 1px solid black; */
    width: 100vw;
    height: 100vh;

}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.fifth_container {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    background: #f2f2f2;
    color: #fff;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    background: white;

}

.timeline_container {
    margin-top: 15vh;
    /* border: 10px solid black; */
    margin-left: 10vw;
    z-index: -1;
    overflow: hidden;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
    white-space: nowrap;
    overflow-x: hidden;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #0d0d0d;
    z-index: -1;
}

.timeline ol li:last-child {
    width: 280px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #0D0D0D;
}

.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: #F2DE79;

}

.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: #F2DE79 transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent #F2DE79;
}

.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
    margin-right: 20px;
}

.timeline .disabled {
    opacity: .5;
}

.timeline .arrows img {
    width: 45px;
    height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {

    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
    }

    .timeline ol li div {
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
        display: none;
    }
}



.dark {
    background-color: black;
}

@media screen and (max-width: 1000px) {
    #table_of_contents {
        display: none;
    }

    #table_of_contents.active {
        display: flex;
    }

    .main_cover_logo_title {
        /* border: 1px solid black; */
        font-size: 40px;
        font-family: 'EliceDigitalBaeum_Regular';

    }

    .main_cover_logo_title:nth-child(2) {
        font-size: 60px;
    }

    .third_page_sub_title {
        font-size: 30px;
        color: #F2EA79;

    }

    .third_page_title {
        font-size: 70px;
        font-family: 'EliceDigitalBaeum_Regular';
    }

    .third_page_title:nth-child(3) {
        font-size: 20px;

    }

    .third_page_title:nth-child(4) {
        font-size: 20px;
        margin-top: 5px;
    }

    .second_page_title {
        font-size: 40px;
    }

}