@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROKABold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/ROKABold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}


li::marker {
    font-size: 4px;
    
}

#first_arr {
    width: 100vw;
    height: 100vh;
}

#main_header {
    width: 100vw;
    height: 70px;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;

}

#main_header_logo {
    /* border: 1px solid black; */
    margin-left: 3vw;
    width: 15vw;
    height: 70px;

    font-size: 35px;
    font-family: 'S-CoreDream-9Black';
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_container {
    /* border: 1px solid black; */
    width: 100vw;
    height: 90vh;
    display: flex;
    margin-top: 70px;
}

#table_of_contents {
    /* border: 1px solid black; */
    width: 13vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_middle_front_cover {
    /* border: 1px solid black; */
    width: 87vw;
    height: 160vh;
}

#table_of_contents_content {
    /* border: 1px solid black; */
    width: 10vw;
    height: 100px;
    font-size: 14px;
    font-family: 'Cafe24SsurroundAir';
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 320px;
    left: 22px;
    right: 0;
}

.contents {
    margin: 15px;
}

#main_middle_front_cover_logo {
    /* border: 1px solid black; */
    width: 45vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_cover_logo {
    /* border: 1px solid black; */
    width: 45vw;
    height: 20vh;
    
    
}

.main_cover_logo:nth-child(1) {
    font-size: 70px;
    font-family: 'Nanum Gothic';
}

.main_cover_logo:nth-child(2) {
    font-size: 60px;
    font-family: 'OTWelcomeBA';
}
