@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ROKABold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/ROKABold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p::selection, div::selection, a::selection {
    background: transparent;
}

p {
    cursor: default;
}

* {
    margin: 0;
    padding: 0;
}

a {
    font-style: none;
    text-decoration: none;
    color: black;
}
li::marker {
    font-size: 4px;
    
}

#scroll_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: green; */
}

.scroll_box_child {
    width: 100vw;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

#first_arr {
    background-color: #f2f2f2;
}

#main_header {
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    
}

#brand_name {
    cursor: pointer;
}

#main_header_logo {
    /* border: 1px solid black; */
    margin-left: 3vw;
    width: 15vw;
    height: 70px;

    font-size: 35px;
    font-family: 'ROKABold';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0d0d0d
}

#main_header_logo_contents{
    
    width: 10vw;
    height: 70px;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 80px;
}

#main_header_logo_contents_bars{
    width: 3rem;
    height: 70px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_header_logo_contents_moon{
      /* border: 1px solid black ; */
    width: 2rem;
    height: 70px;
    font-size: 25px;
    /* border: 1px solid black ; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#main_container {
    /* border: 1px solid black; */
    width: 100vw;
    height: 90vh;
    display: flex;
    margin-top: 70px;
}

#table_of_contents {
    /* border: 1px solid black; */
    width: 13vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_middle_front_cover {
    /* border: 1px solid black; */
    width: 87vw;
    height: 100vh;
}

#table_of_contents_content {
    /* border: 1px solid black; */
    width: 10vw;
    height: 100px;
    font-size: 14px;
    font-family: 'Cafe24SsurroundAir';
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 320px;
    left: 22px;
    right: 0;
}

.contents {
    margin: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transform: 0.3s;  
    z-index: 99;  
}

.contents:hover {
    -webkit-transition: scale(1.2,1.2);
    -moz-transition: scale(1.2,1.2);
    -o-transition: scale(1.2,1.2);
    -ms-transition: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);

}

.mix_blend_mode {
    mix-blend-mode: difference;
}

#main_middle_front_cover_logo {
    /* border: 1px solid black; */
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.main_cover_logo {
    /* border: 1px solid black; */
    width: 45vw;
    height: 20vh;
    transform: translateY(-80%);
}

.main_cover_logo_fullname {
    font-size: 30px;
    color: #F2EA79;
    font-weight: 'EliceDigitalBaeum_Regular';
}

.main_cover_logo_title {
    /* border: 1px solid black; */
    font-size: 85px;
    font-family: 'EliceDigitalBaeum_Regular';
    
}
.main_cover_logo_title:nth-child(2) {
    font-size: 80px;
}
.main_cover_logo_title:nth-child(4) {
    display: flex;
    justify-content: center;
    transform: translateX(-10%);
}


#second_arr {
    /* border: 1px solid black; */
    background-color: #737373;
}

#third_arr {
    /* border: 1px solid black; */
    transition: background-color 0.8s;
}
#fourth_arr {
    /* border: 1px solid yellow; */
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#fifth_arr {
    /* border: 1px solid black; */
}

#second_page_main_container {
    /* border: 1px solid black; */
    width: 40vw;
    height: 100vh;
    margin-left: 60vw;
} 
#second_page_title_cover {
    /* border: 1px solid black; */
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.second_page_main_title {
    /* border: 1px solid black; */
    width: 40vw;
    height: 30vh;
    background-color: #737373;
    
    transform: translateY(-60%);
    /* position: relative; */
    margin-left: 0;
}

.second_page_sub_title {
    font-size: 40px;
    color: #F2EA79;
    
}

.second_page_title {
    font-size: 60px;
    font-family: 'EliceDigitalBaeum_Regular';
}

/* #second_page_title_more{
    font-size: 27px;
    border: 0.5px solid black;
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 420px;
    font-family: 'EliceDigitalBaeum_Regular';
}

#seconfd_page_title_more:hover {
    color: white;
    background-color: black;
} */
#second_page_title_more {
    font-size: 27px;
    border: 0.5px solid black;
    width: 150px;
    height: 70px;
    margin-right: 29vw;
    font-family: 'EliceDigitalBaeum_Regular';
    position: relative;
    transition: 0.4s;
    overflow: hidden;
    background-color: white;
    text-transform: uppercase;
}

/* #second_page_title_more::before {
    content: "";
    position:absolute;
    top: 0;
    right: 100%;
    transition: all 0.5s;
    z-index: -2;
    background-color: black;
    height: 100%;
    width: 100%;
} */
#second_page_title_more:focus{
    outline: none;
}

#second_page_title_more:hover:before {
    transform: translateX(100%);
}
#second_page_title_more:hover {
    color: white;
    background-color: black;
    
}

#third_page_main_container {
    /* border: 1px solid black; */
    width: 87vw;
    height: 100vh;
    margin-left: 13vw;
} 
#third_page_title_cover {
    /* border: 1px solid black; */
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.third_page_main_title {
    /* border: 1px solid black; */
    width: 40vw;
    height: 20vh;
    
    transform: translateY(-60%);
    /* position: relative; */
    margin-left: 0;
}

.third_page_sub_title {
    font-size: 40px;
    color: #F2EA79;
    
}

.third_page_title {
    font-size: 60px;
    font-family: 'EliceDigitalBaeum_Regular';
}


.boxxxx {
    width: 100vw;
    height: 100vh;
    font-size: 30px;
    color: green;
    
}

#boxfour {
    /* background-color: black; */
    
}

.fourth_arr_member_cover {
    /* border: 1px solid white; */
    width: 500vw;
    height: 38vh;
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
}

.fourth_arr_member {
    border: 1px solid white;
    width: 18vw;
    height: 38vh;
    border-radius: 20px;
}

/* .textColorWhite {
    color: white
} */