span {
	position: absolute;
	display: inline-block;
	width: 60px;
	bottom: 0;
}
div {
	position: relative;
	height: 400px;
	border: 1px solid #FFF;
}

span:nth-of-type(1){height: 100%; left: 0px;}
span:nth-of-type(2){height: 80%;  left: 70px;}
span:nth-of-type(3){height: 60%;  left: 140px;}
span:nth-of-type(4){height: 20%;  left: 210px;}


body { 
	background-color: #262626;}	
.blue { 
	background-color: #5abae6;}
.red {
	background-color: #d34e4e;
}
.green {
	background-color: #9dbb19;
}
.yellow {
	background-color: #f7b358;
}

div {
	margin: 50px 50px;
}
span {
	font-size: 20px;
	line-height: 1.8em;
	color: #FFF;
	text-align: center;
	border-radius: 15px;
}