.wrap {
	position: relative;
	padding: 2%;
  }
  
  .container {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
  }
  
  .chart {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	transition: 0.3s;
  }
  
  span.center {
	background: #fff;
	
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	transform: translate(-50%, -50%); 
  }
  
  button {
	width: 80px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
  }